div {
    width: 80%;
}
div:nth-child(odd) p:nth-child(odd) {
    color: white;
    background-color: black;
}
div:nth-child(even) p:nth-child(even) {
    color: white;
    background-color: black;
}

p {
    width: 20px;
    padding: 5px;
    border: 1px solid black;
    margin: 4px;
}